
<%= form_for @quiz do |f|%>
    <label  style="display:none" >
            <input type="text" name="questionsChosen" id="postValue" value="00000">
    </label>
    <button type="submit" class="btn btn-primary " disabled id="confirmQuiz">Create quizz</button>
<%end%>

<div class="index-quizzes row g-0">

<%= render "quizzes/base" %>
</div>




<script>
    var chosen=[]

    var postValue=document.getElementById("postValue")
var btnConfirm=document.getElementById("confirmQuiz")
    var chosen=[]
    var choices=Array.from(document.getElementsByClassName("condensed-question"))

    var postValue=document.getElementById("postValue")
    choices.forEach(b => {
        b.addEventListener('click',(e)=>updateChoices(e.target.id))
    }); 
                   btnConfirm.disabled=true
 function arrayRemove(arr, value) { 
    
        return arr.filter(function(ele){ 
            return ele != value; 
        });
    }

    function updateChoices(id){
            let convertedId=id.replace(/[^0-9]+/, '')
            if(!chosen.includes(convertedId)){
                chosen.push(convertedId)
                document.getElementById(id).className="condensed-question m-2 col-2 quizSelect"
                if(chosen.length>5){
console.log('ici')
                        document.getElementById("condQues"+chosen[0]).className="condensed-question m-2 col-2"  
                        chosen.shift() 
                }
               
            }else{
                chosen = arrayRemove(chosen,convertedId)
                document.getElementById(id).className="condensed-question m-2 col-2"   
            }
                if(chosen.length==5){
                   btnConfirm.disabled=false
                    postValue.setAttribute('value',chosen)
                }  else{
                   btnConfirm.disabled=true
               }


     }

</script>

